PORT=5000
MONGO_URI=mongodb://localhost:27017/agritech
JWT_SECRET=supersecretagritechkey123
PLANTNET_API_KEY=2b108KZSR1sT2ZFYpjSd2FgUxO
VITE_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173
CLIENT_URL=http://localhost:5173
AI_SERVICE_URL=http://127.0.0.1:5001
